page-start {
   .playCol{
   	height: 210px;
   }
   .play{
	   	font-size: 5em;
	    border-style: solid;
	    border-width: 9px;
	    height: 150px;
	    width: 150px;
	    border-radius: 50%;
	    line-height: 150px;
	    text-align: center;
	    margin:auto;
	    margin-top: 8%;
	    position: relative;
	    top: 0;
	    left: 0;
	    animation: playicon 1s infinite;
   }
   .play ion-icon{
   	 transform: translateX(8px);
   }

   .award{
	   	border-style: solid;
	    border-width: 5px;
	    height: 70px;
	    width: 70px;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 2.2em;
	    line-height: 70px;
	    margin:auto;
   }

   .info{
	   	border-style: solid;
	    border-width: 5px;
	    height: 70px;
	    width: 70px;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 2.2em;
	    line-height: 70px;
	    margin:auto;
   }
   .grid2{
   	margin-top: 18%;
   }

   .title{
   	font-size: 58px;
   	text-align: center;
   	margin-top: 12%;
   }
   ion-content{
   	background-color: #1b1a1a !important;
   	color: white !important;
    font-family: 'Risque', cursive;
   }

   @keyframes playicon{
   	0% { font-size:5em; height:150px;width:150px;line-height:150px;}
   	25% { font-size:5.5em; height:160px; width:160px;line-height:160px;}
   	50% { font-size:6em; height:170px; width:170px;line-height:170px;}
   	75% { font-size:5.5em; height:160px; width:160px;line-height:160px;}
   	100% { font-size:5em; height:150px;width:150px;line-height:150px; }
   }
}
